{% extends base %}
{% block title %}Enter Personal Data( Register) {% endblock %}
{% block content %}
		<div class="postHeader"><h1>{%if current_user%}Add User{%else%}Register{%endif%}</h1></div>
        <div class="postContent">
            <form action="{% url AddUserController %}" method="post">
                <table style="text-align: right;">
                    <tr>
                        <td>UserName:</td>
                        <td><input type="text" name="UserName"></input></td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" name="Name"></input></td>
                    </tr>
                    <tr>
                        <td>Surname:</td>
                        <td><input type="text" name="Surname"></input></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" name="Password"></input></td>
                    </tr>
                    <tr>
                        <td><label style="color: red;" visible="false">*</label><b>Email:</b> </td>
                        <td><input type="text" name="Email"></input></td>
                    </tr>
                    <tr>
                        <td>Notify me On Events:</td>
                        <td><input type="checkbox" name="Notify" checked="True"/></td>
                    </tr>
                    <tr>
                        <td>Keep email private:</td>
                        <td><input type="checkbox" name="Public" checked="True"/></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="Submit" value="Register"/></td>
                    </tr>
                </table>

            </form>
        </div>
{%endblock%}