{% extends base_new %}
{% block styles %}
{{block.super}}
<link href="/styles/ui-silver/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/styles/Style.css" rel="stylesheet" type="text/css" />
<link href="/styles/mega-menu/skins/blue.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="/jscripts/jquery-1.4.min.js"></script>
<script type="text/javascript" src="/jscripts/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="/jscripts/jquery.layout.js"></script>
<script type="text/javascript" src="/jscripts/jquery.form.js"></script>
<script type="text/javascript" src="/jscripts/jquery.hoverIntent.minified.js"></script>
<script type="text/javascript" src="/jscripts/jquery.dcmegamenu.1.3.3.min.js"></script>
<script type="text/javascript">
$(function(){
    $('input[name*="Date"]').datepicker();
	$('.date').datepicker();
    
	//setup the mega menu
	$('#menu').addClass('blue');
	$('#menu_pages').attr("id","mega-menu");
	$('#mega-menu').addClass('mega-menu');
	$('#mega-menu').dcMegaMenu({
		rowItems: '1',
		speed: 'fast',
		effect: 'fade',
		event: 'hover' 
	});
});
</script>
{% endblock %}
{%block title%}Halicea.Co{%endblock%}
{% block analitics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18625214-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{%endblock%}
{% block top_menu %}
{%call this.plugins.Menus.view with "pages" "True" %}
{% endblock %}

{% block login_menu %}
	{% include blLogin %}
{% endblock %}
{% block status %}
	{% if status %}
<div id="divStatus" class="ui-state-error" style="text-align: center">
	{{status}}
</div>
	{%else%}
<div id="divStatus" class="ui-state-error" style="text-align: center; display: none;">
</div>
    {% endif %}
{% endblock %}
{% block sidebar %}
    <div class="sidebar-post">
	   <div class="sidebar-content">
	     <iframe src="http://www.facebook.com/plugins/like.php?href={{current_server}}&amp;layout=standard&amp;show_faces=false&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=150" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:180px; height:80px;" allowTransparency="true"></iframe>
       </div>
    </div>
{% endblock %}
