<link rel="Stylesheet" type="text/css" href="/jscripts/cleditor/jquery.cleditor.css"/>
<script type="text/javascript" src="/jscripts/cleditor/jquery.cleditor.js"></script>

<div class="post">
    <div class="postContent">
        <form action="/cms/contents" method="post" id="saveContent">
            <input type="hidden" name="op" value="insert" />
            <input type="hidden" name="key" value="{{content.key}}" />
            <table>
                <tr>
                    <td>{{CMSContentForm.Title.label}} </td>
                    <td>
		            {{CMSContentForm.Title}}
                    </td>
                    <td>{{CMSContentForm.Title.errors}}</td>
                </tr>
                <tr>
                    <td>
                        Content
                    </td>
                    <td>
	                     <textarea id="id_Content" name="Content" style="width:500px; height:300px;">
	                     </textarea>
                     </td>
                     <td>
                        <label style="color: red">{{CMSContentForm.Content.errors}}</label>
                     </td>
                </tr>
                <tr>
                    <td>{{CMSContentForm.Tags.label}}</<td> 
                    <td colspan="2">{{CMSContentForm.Tags}}</td>
                </tr>
                <tr>
                    <td/>
                    <td>
                    <input type="submit" value="Save" style="width:100%;padding:10px;"></input>
		            {%if content.key%}
		            <input type="button" class="deleteContent" key="{{content.key}}" value="Delete"></input>
		            {%endif%}
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script type="text/javascript">
$(function(){
	$('.delete_content').click(function(){
	    var key = $(this).attr('key');
	    window.location = '/cms/contents?op=delete&key='+key;
	    return false;
	});
});
</script>