<div class="postHeader"><h1>Comment: </h1></div>
<div class="postContent">
<table>
{% for p in Comment.properties %}
    <tr>
        <td style="text-align:right;">
            {{ p.label_tag }}:
        </td>
        <td>
            {{ field }}
        </td>
        <td style='color: red;'>
            {{ field.errors }}
        </td>
    <tr>
{% endfor %}
</table>
</div>
<div class="postFooter">
<div class="nav">
<a href='{%url comments id=Comment.Id%}'>Edit</a>
<a href='{%url comments %}'>Home</a>
</div>
</div>