<div class="postHeader"><h1>Comment List: </h1></div>
<div class="postContent">
<table>
{% for item in CommentList %}
    <tr>
        <td>
            {{item}}
        </td>
        <td><a class='detail' href='{%url comment edit id=item.Id %}'>Edit</a></td>
        <td><a class='detail' href='{%url comment id=item.Id %}'>Detail</a></td>
        <td> <a class='delete' href='{%url comment delete id=item.Id %}'>Delete</a></td>
    </tr>
{% endfor %}
</table>
</div>
<div class="postFooter">
<div class="nav">
{%ifequal previousIndex -1 %}{%else%}<a href="{%url CommentController %}">Previous</a>{%endifequal%}
 | {%ifequal nextIndex 0 %}{%else%}<a href="{%url CommentController %}">Next</a>{%endifequal%}
<h3><a href='{%url comment id=''%}?op=edit'>New</a><h3>
</div>
</div>
