{%block styles%}
{{block.super}}
<link href="/styles/superfish.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{%block scripts%}
{{block.super}}
<script type="text/javascript" src="/jscripts/hoverIntent.js" ></script>
<script type="text/javascript" src="/jscripts/superfish.js" ></script>
<script type="text/javascript">
$(function() {
	$.post('/menu/cms?cl=sf-menu&noroot=True',
    function(data){
		$("ul.sf-menu").html(data);
		//var t= $('ul.sf-menu').superfish();
		$("ul.sf-menu").fadeIn('slow');
	});
});
</script>
{% endblock %}
	<ul class='sf-menu' style='dislay:none;'>
		<li><a href="/">Home</a></li>
	</ul>